<div class="work-detail">

                <div class="work-detail-close" routerLink="/work">X</div>

                <div class="container">

                                <div class="work-item-preview-img">

                                                <img src="{{workItemDetail.imageSrc}}" />

                                </div>

                                <div class="work-item-details-desc">

                                                <h1>{{workItemDetail.title}}</h1>

                                                <p><strong>Role:</strong> {{workItemDetail.role}}</p>

                                                <div class="visit-site">

                                                                <span class="animated-bg"></span>

                                                                <a target="_blank" href="{{workItemDetail.url}}">visit site</a>

                                                </div>

                                </div>

                </div>

</div>