<section class="view-section" id="skills">

                <div class="container">

                                <h1 class="section-head">Skills</h1>

                               

                                <ul class="skills-list">

                                                <li *ngFor="let item of skillsItems" title="{{item.title}}">

                                                                <div class="skill-img"><img src="{{item.imgSrc}}" /></div>

                                                                <div class="meter">

                                                                                <span class="meter-level" [ngStyle]="{'width': item.strength}"></span>

                                                                                <span class="meter-value">{{item.strength}}</span>

                                                                </div>

                                                </li>

                                </ul>

                </div>

 

                <!--FOOTER-->

                <app-footer></app-footer>

               

</section>