<section class="view-section" id="welcome">

                <div class="container">

                                <h1 class="welcome-text">welcome to the portfolio of <span class="black">lubaib gazir</span><br>front end - UI developer</h1>

                                <div class="arrow-redirect" (click)="goToWork()">

                                                work

                                                <i class="iconFa iconRedirectNxt"></i>

                                </div>

                </div>

</section>
